body{
    background-color: #d6d6d6;
    font-family: Arial, Helvetica, sans-serif;
}

.error {
    color: white;
    background-color: red;
    padding: 10px;
    margin-top: 10px;
    display: none; 
    border-radius: 5px;
}

input{
    width: 150px;
    padding: 5px;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.grid-container {
    display: flex; 
    margin-bottom: 20px;
    justify-content: center;
}

.key{
    margin-left: 15px;
}

.kay{
    margin-left: 15px;
}

button{
    margin: 20px 0 0 140px;
    padding: 10px;
    width: 30%;
    font-size: 15px;
    margin-bottom: 15px;
} 

h2{
    margin-top: 30px;
    margin-left: 100px;
}

@media  screen and (min-width: 1024px) {
    .key{
        margin-left: 15px;
    }
    
    .kay{
        margin-left: 30px;
    }

    h2{
        margin: 30px 0 30px 590px;
    }

    button{
        margin: 5px 0 30px 300px;
        padding: 10px;
        width: 15%;
        font-size: 15px;
    }

    input{
        width: 200px;
        padding: 5px;
        font-size: 14px;
        margin-left: 15px;
        margin-bottom: 5px;
    }

    form{
        width: 50%;
        background-color: rgb(184, 183, 183);
        margin-left: 350px;
        border-radius: 10px;
    }
}
